<section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">₱0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>
<footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="band-name">TRIAD</h3>
        <ul class="nav footer-nav">
            <li>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="">
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="">
                </a>
            </li>
        </ul>
    </div>
</footer>