<div class="container-fluid">
    <div class="row screen">
        <div class="container col-4 d-flex align-items-center justify-content-center textComp">
            <blockquote class="blockquote text-center ">
                <p class="textGroup-title h1">LOREM IPSUM</p>
                <p class="mb-0 textGroup">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et turpis lacus. 
                        Pellentesque iaculis posuere lectus, sed laoreet libero. Cras ipsum risus, ullamcorper vitae lacus sed, 
                        luctus convallis erat. Pellentesque feugiat aliquam arcu, vitae commodo est efficitur in. Suspendisse pellentesque 
                        congue dapibus. Vivamus varius, massa sed faucibus congue, purus odio commodo tellus, sed euismod leo lorem et lectus. Sed laoreet velit id augue dictum, in mollis nisi dapibus. Proin ex odio, pretium non nisi in, malesuada tristique purus.</p>
             </blockquote>
        </div>
        <div class=" container col-7 d-flex align-items-center justify-content-center">
            
            <form [formGroup]="registrationForm" ngNativeValidate (submit)="onSubmit(registrationForm.value)" class="col">
                <p class="h3 text-center">Registration</p>
                <div class="form-group row d-flex justify-content-center my-5">
                    <div class="col">
                        <input type="text" formControlName="account_fname" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter Your First Name:">
                    </div>
                    <div class="col">
                        <input type="text" formControlName="account_lname" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter Your Last Name:">
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center my-5">
                    <div class="col">
                        <input type="email" formControlName="account_email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter Your Email:">
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center my-5">
                    <div class="col">
                        <input type="password" formControlName="account_password" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter Your Password:">
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center my-5">
                    <div class="col">
                        <input type="address" formControlName="account_address" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter Your Address:">
                    </div>
                </div>
                <div class="col my-1 text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-lg btn-design">Submit</button>
                </div>
            </form>
            
        </div>
    </div>
    
</div>