.nav-design{
    background-color: #ECEBE2;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.title-design{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}

.nav-design-link{
    font-family: 'Open Sans', sans-serif !important;
    color: black !important;
}