<div class="container p-5">
    <blockquote class="blockquote text-center container">
        <p class="textGroup-title h1">LOREM IPSUM</p>
        <p class="mb-0 textGroup">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et turpis lacus. 
                Pellentesque iaculis posuere lectus, sed laoreet libero. Cras ipsum risus, ullamcorper vitae lacus sed, 
                luctus convallis erat. Pellentesque feugiat aliquam arcu, vitae commodo est efficitur in. Suspendisse pellentesque 
                congue dapibus. Vivamus varius, massa sed faucibus congue, purus odio commodo tellus, sed euismod leo lorem et lectus. Sed laoreet velit id augue dictum, in mollis nisi dapibus. Proin ex odio, pretium non nisi in, malesuada tristique purus.</p>
     </blockquote>
    <img src="assets/pics/phoneCase.png" alt="" class="img-fluid rounded mx-auto d-block pic">
</div>
